body{
    background-color: black;
    background-image: url(https://image.freepik.com/free-vector/abstract-holographic-background-with-pastel-colors_61607-446.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2100px;
    color: white;
}
.titleColor{
    color: rgb(0, 255, 255);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 200px;
}
.duperwhite{
    color: #f623e5;
}
.borderNav{
    border: 10px rgb(0, 0, 0) bold;
    margin-top: 10px;
    margin-bottom: 60px;
}

.one{
background-color: chartreuse;
}
.two{
    background-color: rgb(243, 23, 23);
}
.three{
    background-color: rgb(9, 255, 0); 
}
.four{
    background-color: rgb(0, 255, 242);
}
.five{
    background-color: rgb(21, 130, 255);
}
.six{
    background-color: rgb(204, 0, 255);
}
.seven{
    background-color: rgb(235, 22, 164); 
}
.eight{
    background-color: rgb(0, 255, 0); 
}
.nine{
    background-color: rgb(219, 223, 11);
}
.ten{
    background-color: rgb(241, 156, 45);
}
.one{
    
}